*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #fff;
}
.container{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    position: relative;

}
.menu{
    width: 500px;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    left: 35%;
    position: absolute;
    bottom: 45%;
}
.menu a{
    top: 25px;
    margin: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    transition: 0.3s ease;
    color: #fff;
}
.menu a:nth-child(1){
    color: rgb(201, 198, 198);
    font-weight: bold;
}
.menu a:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background: gray;
    transition: 0.2s ease;
}
.menu a:nth-child(2){
    color: rgb(201, 198, 198);
    font-weight: bold;
}
.menu a:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background: gray;
    transition: 0.2s ease;
}
.menu a:nth-child(3){
    color: rgb(201, 198, 198);
    font-weight: bold;
}
.menu a:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background: gray;
    transition: 0.2s ease;
}
.menu a:nth-child(4){
    color: rgb(201, 198, 198);
    font-weight: bold;
}
.menu a:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background: gray;
    transition: 0.2s ease;
}
.otro{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.otro h3{
    display: flex;
    position: relative;
    transition: 0.3s ease;
    padding-left: 10px;
}
.otro h3:first-child{
    margin: 5px 5px 5px 5px;
    padding: 10%;
    align-items: center;
    background: gray;
    cursor: pointer;
    transition: 0.3s ease;
}
.otro h3:hover{
    background: #fff;
}
.otro h3:last-child{
    margin: 5px 5px 5px 5px;
    padding: 5%;
    background: gray;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
}
.otro h3:hover{
    background: #fff;
}
.logo{
    cursor: pointer;
    transition: 0.3s ease;
}